bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.ParallelisationLibrary/.idea/codeStyles/codeStyleConfig.xml

.idea/.idea.ParallelisationLibrary/.idea/contentModel.xml

.idea/.idea.ParallelisationLibrary/.idea/encodings.xml

.idea/.idea.ParallelisationLibrary/.idea/indexLayout.xml

.idea/.idea.ParallelisationLibrary/.idea/modules.xml

.idea/.idea.ParallelisationLibrary/.idea/projectSettingsUpdater.xml

.idea/.idea.ParallelisationLibrary/.idea/vcs.xml

.idea/.idea.ParallelisationLibrary/.idea/workspace.xml

ParallelisationLibrary.sln.DotSettings.user
